.pointer-link {
  border: none;
  background: none;
  appearance: none;
  color: #222;
  font-weight: 600;
  text-decoration: none;
  cursor: none;
  display: inline-block;
  padding: 32px;

  &&__bottom-left {
    bottom: 0;
    left: 0;
  }

  &&__bottom-right {
    bottom: 0;
    right: 0;
  }
}
