@import 'modern-normalize';
@import 'fonts';

body {
  font-family: 'Inter', sans-serif;
}

#app {
  max-width: 1199px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

@import 'nav';
@import 'pointer-link';
