@import 'modern-normalize';
@import 'fonts';

:root {
  --blue: rgb(78, 175, 177);
}

html, body {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  //background: #c3f7eb;
}

#app {
  position: relative;
  min-height: calc(100vh - 114px);
}

#app, footer, nav {
  max-width: 1199px;
  margin: 0 auto;
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.no-cursor {
  cursor: none;
}

.normal-cursor {
  cursor: auto;
}

@import 'nav';
@import 'pointer-link';
@import 'main';
@import 'typo';
@import 'footer';
